{% extends "base.tmpl" %}
{% block top %}
<?php $err = in_array($_SERVER['QUERY_STRING'], array('403', '404', '500')) ? $_SERVER['QUERY_STRING'] : '404'; ?>
{% endblock %}
{% block title %}Ошибка <?= htmlspecialchars($err); ?>{% endblock %}
{% block content %}
      <div id="header">
        <h2>Ошибка <?= htmlspecialchars($err); ?>. Похоже вы пидарок. <a href="/">Добавьте себя в базу</a></h2>
      </div>
{% endblock %}
