{% extends "base.tmpl" %}

{% block top %}
<?php include_once 'func.php' ?>
{% endblock %}
{% block title %}База пидарков{% endblock %}
{% block content %}
      <div id="header">
        <h2>Проверить пользователя</h2>
        <form id="main_form" method="post">
          <label>Имя: <input type="text" name="fname"></label>
          <label>Фамилия: <input type="text" name="lname"></label>
          <input type="submit" name="pidcheck" value="Проверить">
        </form>
      </div>
<?php main(); ?>
{% endblock %}
