{% extends "base.tmpl" %}

{% block top %}
<?php include_once 'liststart.php'; ?>
{% endblock %}

{% block title %}Список{% endblock %}
{% block content %}
{% block header %}
      <div id='header'>
        <h2>Всего пидарков в базе: <b><?= $users->num_rows; ?></b></h2>
      </div>
{% endblock %}
<?php
$num = 0;
while (($row = $users->fetch_assoc()) != false) {
    $num++;
?>
{% block list %}
      <div class='user_inf'>
        <div class='urow'>
          <div class='ulabel' style='font-size: 20px;'><?= $num; ?></div>
        </div>
        <div class='right_col'>
          <div class='urow'>
            <div class='ulabel'>ID:</div>
            <div class='ulabeled'><?= $row['ID']; ?></div>
          </div>
          <div class='urow'>
            <div class='ulabel'>Имя:</div>
            <div class='ulabeled'><?= $row['FirstName']; ?></div>
          </div>
          <div class='urow'>
            <div class='ulabel'>Фамилия:</div>
            <div class='ulabeled'><?= $row['LastName']; ?></div>
          </div>
          <div class='urow'>
            <div class='ulabel'>Добавлен:</div>
            <div class='ulabeled'><?= $row['time'] == '2012-12-21 00:00:00' ? 'НЕИЗВЕСТНО' : $row['time']; ?>
              <form style='float: right; margin-right: 30%;' method='post'>
                <input type='hidden' name='id' value='<?= $row['ID']; ?>'>
                <input type='hidden' name='password' value='pidor'>
                <input type='submit' name='del' value='Удалить из базы'>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
<?php
}
$connect->close();
?>
{% endblock %}
