{% extends "list.php.tmpl" %}

{% block top %}
<?php $GLOBALS['ret_name'] = 'slist.php'; include_once 'liststart.php'; ?>
{% endblock %}
{% block title %}Простой список{% endblock %}
{% block list %}
      <p><?= $num; ?>) <?= $row['LastName']; ?> <?= $row['FirstName']; ?></p>
{% endblock %}
